 h1{
            text-align: center;
        }
        h2{
            text-align: center;
            color: #fff;
            font-size: 27px;
        }
        fieldset{
            margin-top: 30px;
            background-size: cover;
            background-image: url("https://images.unsplash.com/photo-1607250208167-cea1abfef1ba?crop=entropy&cs=srgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODE4MzM4Mjc&ixlib=rb-4.0.3&q=85");
        }
        label{
            color: #fff;
        }
        input,textarea{
            opacity: .5;
            transition: .8s ease-in-out;
        }
        input:hover{
            opacity: 1;
            height: 20px;
        }
        button{
            margin-top: 30px;
            border: none;
            padding: 7px;
            height: 35px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 20px;
            width: 100px;
            border-radius: 12px;
            background-color: lightgreen;
            margin-left: 45%;
            transition: .8s ease-in-out;
        }
        button:hover{
            font-size: 24px;
            width: 110px;
            height: 40px;
            background-color: green;
            color: #fff;
        }
