body{
    margin: 0;
    box-sizing: border-box;
    background-color:#f1f1f1;
}
#home-container{
    width: 100%;
}
#home-container header{
    height: 9vh;
    width: 100%;
}
#home-container header nav{
    height: 9vh;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(200,200,200,.2);
    justify-content: space-between;
}
#home-container header nav h2{
    color: blue;
    font-size: 27px;
    text-transform: uppercase;
}
#home-container header nav h2 span{
    color: coral;
    font-size: 20px;
    font-style: italic;
}
#home-container header nav ul{
    display: flex;
    list-style: none;
}
#home-container header nav ul li{
    margin: 10px 10px 0 5px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 20px rgba(200,200,200,.2) ;
}
#home-container header nav ul li:hover{
    box-shadow: 0 0 20px rgba(73, 69, 69, 0.463) ;
}
#home-container header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: all .3s ease-in-out;
}
#home-container header nav ul li a:hover{
    color: coral;
}
#home-container main{
    background-image: url("https://images.unsplash.com/photo-1492112007959-c35ae067c37b?crop=entropy&cs=srgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODI5NTYzODU&ixlib=rb-4.0.3&q=85");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 75vh;
}
#home-container main #name h1,h2{
    text-align: center;
    color: #fff;
}
#home-container main #name h1{
    font-size: 30px;
    text-transform: uppercase;
}
#home-container main #name h2{
    font-size: 25px;
    color: coral;
    text-shadow: 1px 1px #fff;
}
#home-container main #profile{
    height: 250px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-container main #profile .animation-background{
    height: 230px;
    width: 180px;
    border-radius: 50%;
    background-image: linear-gradient(to top,green,blue,orange);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disco 7s 1s infinite ease-in-out;
}
@keyframes disco {
    0%{
        rotate: 45deg;
        background-image: linear-gradient(to top,pink,lightgreen,yellow);
        border-radius: 60%;
    }
    50%{
        rotate: -45deg;
        background-image: linear-gradient(to top,red,orange,yellow);
        border-radius: 30%;
    }
    100%{
        rotate: 45deg;
        background-image: linear-gradient(to top,#e40f32,#2dba2d,#4f13d1);
        border-radius: 45%;
    }
}
#home-container main #profile .animation-background figure img{
    height: 200px;
    width: 150px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
#home-container main #profile .animation-background figure img:hover{
    transform: scale(1.1);
}
#home-container main #about-me{
    position: absolute;
    margin-top: 150px;
    width: 400px;
    right: 0;
}
#home-container main #about-me h1,p{
    color: #fff;
    text-align: center;
}
#home-container main #reach-me{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home-container main #reach-me button{
    border: none;
    height: 30px;
    width: 100px;
    padding: 5px 2px;
    background-color: #4f13d1;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
#home-container main #reach-me button:hover{
    background-color: coral;
    transform: scale(1.1);
}
#home-container main #reach-me button a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
