body{
    margin: 0;
    padding: 0;
}
#contact-container{
    width: 100%;
}
#contact-container header{
    top:10;
    position: fixed;
    left:10;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    box-shadow: #f4ecec 1px 1px;
}
#contact-container header nav{
    height: 10vh;
    width: 100%;
}
#contact-container header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
#contact-container header nav ul a{
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #222;
    border-top:solid 2px #037395 ;
    transition: all .3s ease-in;
    height: 30px;
}
#contact-container header nav ul a:hover{
    color: coral;
    border-top:none ;
    padding: 2px;
    border-bottom:solid 2px #1115df ;
}
#contact-container header h2{
    color: blue;
    font-size: 27px;
    height: 10vh;
    margin-top:0;
}
#contact-container header h2 span{
    color: coral;
    font-weight: lighter;
}
#contact-container main{
    position: absolute;
    margin-top: 5vh;
}
@media only screen and (max-width:768px) {
    #contact-container{
        width: 100%;
    }
    #contact-container header{
        top:10;
        position: fixed;
        left:10;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 5vh;
        box-shadow: #f4ecec 1px 1px;
    }
    #contact-container header nav{
        height: 5vh;
        width: 100%;
    }
    #contact-container header nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    #contact-container header nav ul a{
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
        color: #222;
        border-top:solid 1px #037395 ;
        transition: all .3s ease-in;
    }
    #contact-container header nav ul a:hover{
        color: coral;
        border-top:none ;
        padding: 1px;
        border-bottom:solid 1px #1115df ;
    }
    #contact-container header h2{
        color: blue;
        font-size: 20px;
        height: 5vh;
        margin-top:5px;
    }
    #contact-container header h2 span{
        color: coral;
        font-weight: lighter;
    }
}
