body{
    margin: 0;
    padding: 0;
}
#home-container{
    width: 100%;
}
#home-container header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    box-shadow: #f4ecec 1px 1px;
}
#home-container header nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#home-container header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
#home-container header nav ul a{
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #222;
    border-top:solid 2px #037395 ;
    transition: all .3s ease-in;
    height: 30px;
}
#home-container header nav ul a:hover{
    color: coral;
    border-top:none ;
    padding: 2px;
    border-bottom:solid 2px #1115df ;
}
#home-container header nav h2{
    color: blue;
    font-size: 27px;
    height: 10vh;
    margin-top:0;
}
#home-container header nav h2 span{
    color: coral;
    font-weight: lighter;
}
#home-container main{
    position: absolute;
    margin-top: 5vh;
}
#home-container main .projects {
    margin-top: 50vh;
    padding: 10px;
    background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Nzc5MTUzMzc&ixlib=rb-4.0.3&q=80");
    background-size: cover;
    background-color: #f0f0f0;
  }
  
  #home-container main .project-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #home-container main .project {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  #home-container main .project img{
    width: 100%;
    opacity:.7;
  }
  #home-container main .project h3{
    opacity: 1;
  }
  
@media only screen and (max-width:768px) {
    #home-container{
        width: 100%;
    }
    #home-container header{
        top:10;
        position: fixed;
        left:10;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 5vh;
        box-shadow: #f4ecec 1px 1px;
    }
    #home-container header nav{
        height: 5vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
    }
    #home-container header nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    #home-container header nav ul li{
        margin-right: 20px;
    }
    #home-container header nav ul a{
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
        color: #222;
        border-top:solid 1px #037395 ;
        transition: all .3s ease-in;
    }
    #home-container header nav ul a:hover{
        color: coral;
        border-top:none ;
        padding: 1px;
        border-bottom:solid 1px #1115df ;
    }
    #home-container header nav h2{
        color: blue;
        font-size: 20px;
        height: 5vh;
        margin-top:10px;
    }
    #home-container header nav h2 span{
        color: coral;
        font-weight: lighter;
    }
    #home-container main{
        margin-top:5vh;
        background-image: url("https://images.unsplash.com/photo-1492112007959-c35ae067c37b?crop=entropy&cs=srgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODI3NDQzMDQ&ixlib=rb-4.0.3&q=85");
        background-size: cover;
        height: 100vh;
        position: absolute;
    }
    #home-container main .main-background h1,.pos{
        text-align: center;
    }
    #home-container main .main-background h1{
        color: coral;
        font-size: 30px;
    }
    #home-container main .main-background .pos{
        color: #1115df;
        font-weight: lighter;
        font-size: 24px;
        margin-top: -5px;
        text-shadow: rgba(220,220,220,.5) 1px 1px;
    }
    #home-container main .main-background .background-animation{
        position: absolute;
        height: 200px;
        width: 150px;
        background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: .7s all ease-in;
        animation: bright 3s infinite ease-in;
    }

    @keyframes bright {
        0% {
            background-image: linear-gradient(to top,aqua,skyblue,violet);
            height: 200px;
            width: 150px;
            border-radius: 50%;
        }
        50% {
            background-image: linear-gradient(to top,green,lightgreen,pink);
            height: 200px;
            width: 150px;
            border-radius: 32px;
        }
        100%{
            background-image: linear-gradient(to top,skyblue,yellow,coral);
            height: 200px;
            width: 150px;
            border-radius: 70px;
        }
    }
    #home-container main .main-background .background-animation:hover{
        animation: shake 3s infinite ease-out;
    }
    @keyframes shake {
        0%{
            rotate: 15deg;
            height: 200px;
            width: 150px;
            border-radius: 50%;
        }
        50%{
            rotate: -15deg;
            background-image: linear-gradient(to top,green,lightgreen,pink);
            height: 200px;
            width: 150px;
            border-radius: 32px;
        }
        100%{
            rotate: 15deg;
            background-image: linear-gradient(to top,skyblue,yellow,coral);
            height: 200px;
            width: 150px;
            border-radius: 70px;
        }
    }
    #home-container main .main-background .background-animation figure img{
        height: 170px;
        width: 150px;
        border-radius: 50%;
    }
    #home-container main .main-background .background-animation figure img:hover{
        height: 180px;
        width: 170px;
        rotate: -45deg;
    }
    #home-container main .main-background #about{
        margin-left:150px ;
        color: #08ab26;
        text-align: center;
    }
    #home-container main .main-background #intro{
        margin-top: 20px;
        margin-left: 175px;
        color: #fff;
    }
    #home-container main .main-background #intro strong{
        color:orange;
        font-size: 24px;
    }
    #home-container main .main-background #love{
        margin-top: -5px;
        margin-left: 175px;
        color: #fff;
    }
}

