body{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1479267658415-ff274a213280?crop=entropy&cs=srgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODIxNzcwNjE&ixlib=rb-4.0.3&q=85");
}
.container header nav{
    top:0;
    background-size: cover;
    position: fixed;
    width: 100%;
}
.container header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
.container header nav ul li a{
    color: #eee;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: #fff solid 2px;
    transition: 1s ease-in-out;
}
.container header nav ul li a:hover{
    border-top: #fff solid 2px;
    transition: 1s ease-in-out;
    border-bottom: none;
    padding: 3px;
}
